/* 文档 */
/* 规定了HTML元素的样式，包含以下规则：
   1. 确保所有浏览器中的行高为1.15。
   2. 避免在iOS设备的旋转时调整字体大小。*/

   html {
    line-height: 1.15; /* 控制行高，确保一致的布局 */
    -webkit-text-size-adjust: 100%; /* 避免在iOS中字体大小自动缩放 */
  }
  
  /* 内容分组 */
  /* 规定了各个元素的样式，包含以下规则：
     1. 所有元素的边框，以适应不同的浏览器 */
  hr {
    box-sizing: content-box; /* 响应性布局 */
    height: 0; /* 清除多余的垂直边框 */
    overflow: visible; /* 确保水平线能正确显示 */
  }
  
  /* 文本级别语义 */
  /* 规定了链接、缩写、粗体和代码块等元素的样式，包含以下规则：
     1. 清除链接的默认背景色 */
  a {
    background-color: transparent;
  }
  
  /* 表单元素 */
  /* 规定了按钮、输入框、选择框等表单元素的样式，包含以下规则：
     1. 保留原始字体样式 */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 保持原始字体 */
    font-size: 100%; /* 保留原始大小 */
    line-height: 1.15; /* 保持行高 */
    margin: 0; /* 清除默认边距 */
  }
  
  /* 内嵌内容 */
  /* 规定了图像、多媒体、iframe等元素的样式，包含以下规则：
     1. 清除所有的默认边框 */
  img {
    border-style: none;
  }
  
  /* 表单控件 */
  /* 规定了各种表单控件的样式，包含以下规则：
     1. 清除按钮和复选框的默认样式 */
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button; /* 确保按钮使用一致的样式 */
  }
  
  /* 表单控件的内部样式 */
  /* 规定了按钮内部的样式，包含以下规则：
     1. 清除内边距 */
  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0; 
  }
  
  /* 表单控件的焦点样式 */
  /* 规定了按钮内部的样式，包含以下规则：
     1. 添加默认的聚焦边框 */
  button:-moz-focusring,
  [type='button']:-moz-focusring,
  [type='reset']:-moz-focusring,
  [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /* 表单控件的布局 */
  /* 规定了表单的样式，包含以下规则：
     1. 清除默认的内边距 */
  fieldset {
    padding: 0.35em 0.75em 0.625em; /* 预定义的内边距 */
  }
  
  /* 内嵌元素 */
  /* 规定了`<details>`元素的样式，包含以下规则：
     1. 隐藏默认的内边距 */
  details {
    display: block; /* 确保`<details>`的正确显示 */
  }
  
  /* 按钮的样式 */
  /* 规定了`<summary>`元素的样式，包含以下规则：
     1. 类似列表项的显示 */
  summary {
    display: list-item; /* 允许在列表中使用`<summary>` */
  }
  
  /* 其他元素 */
  /* 规定了`<template>`和`[hidden]`元素的样式，包含以下规则：
     1. 隐藏`<template>`元素 */
  template {
    display: none; /* 默认隐藏模板元素 */
  }
  
  /* 隐藏元素 */
  /* 规定了`[hidden]`元素的样式，包含以下规则：
     1. 展示隐藏元素的正确行为 */
  [hidden] {
    display: none; /* 隐藏任何被标记为`[hidden]`的元素 */
  }
  
  /* 为文章项目添加图像样式 */
  .post-item img {
    width: 100%; /* 图像宽度为100% */
    height: auto; /* 图像高度自动调整以保持比例 */
  }